body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(206, 199, 243); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav {
  background-color: aliceblue;
  padding: 16px 32px;
}
nav a {
  margin-right: 30px;
}

.mainWrap {
  display: flex;
  justify-content: center;
}

.sidebar {
  width: 20%;
  display: block;
}

.maincontent {
  width: 80%;
}

@media (max-width: 600px) {
  .maincontent {
    width: 100%;
  }
  .sidebar {
    width: 100%;
  }

  .mainWrap {
    display: block;
  }
}
